<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
<script type="text/javascript" th:src="@{/js/nav.js}"></script>
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg"
	style="background-color: #323847fe;">
	<div class="container-fluid">
		<!-- START FORM SEARCH -->
		<div class="col-lg-9  d-inline-flex">
			<button class="btn text-white" type="button"
				data-bs-toggle="collapse" data-bs-target="#collapseExample"
				aria-expanded="false" aria-controls="collapseExample">
				<i class="bi bi-list fs-3"></i>
			</button>
			<div class="text-white ms-5 mt-3" style="font-size: 0.9em;">
				<nav
					style="--bs-breadcrumb-divider: url(&amp; #34; data: image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&amp;#34;);"
					aria-label="breadcrumb" class="d-flex justify-content-center">
					<div>
						<ol class="breadcrumb">
							<li class="breadcrumb-item active text-white" aria-current="page">Administration
							</li>
							<li class="breadcrumb-item"><a href="product-admin.html">Product
									Management</a></li>
						</ol>
					</div>

				</nav>
			</div>

		</div>
		<!-- END FORM SEARCH -->
		<div class="col-lg-3 text-end">
			<a name="" id="" class="btn btn-outline-primary btn-sm" th:href="@{/home/index}">Back to home</a>
		</div>
    </div>
</nav>
</body>
</html>

